* {
    box-sizing: border-box;
}

html, body {
    /* background-color: pink; */
    margin: 0;
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}
p {
    margin: 0;
}

.main {
    /* background-color: blue; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}

.about {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.about__page-title {
    /* background-color: green; */
    font-size: 2rem;
    margin: 0;
    padding: 12px;
}

.about__info {
    font-size: 1rem;
    /* padding: 32px; */
    text-align: center;
    width: 75%;
}

.team {
    background-color: aqua;
    width: 100%;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 38px;
    background-color: pink;
    padding: 12px 18px;
}

    .team__list-name {
        padding: 0;
        margin: 0;
    }

.team__container {
    /* background-color: rgb(110, 87, 56); */
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 100%;
    margin: 32px;
}

    

    .team__person {
        /* background-color: red; */
        /* display: flex;
        flex-direction: column; */
        padding: 6px;
        width: 70%;
    }

        .team__title-name {
            padding: 6px;
        }

        .team__about-text {
            padding: 6px;
        }