:root {
    --background-color: #FAF2E6;
    --text-color: #313640;
    --feature-color: #7388A0;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}
p {
    margin: 0;
}

.header {
    
}

.nav__sidebar {
    grid-area: menu;
    background-color: #313640;
    height: 100%;
}

.main {
    background-color: var(--color-background);
    display: grid;
    grid-template-areas:
    'menu main main main main main';
    height: 100%;
}

.footer {
    
}



.about {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 32px;
    grid-area: main;
    height: 100%;
}

.about__page-title {
    /* background-color: green; */
    color: var(--feature-color);
    font-size: 2rem;
    margin: 0;
    padding: 12px;
}

.about__info {
    color: var(--text-color);
    font-size: 1rem;
    /* padding: 32px; */
    text-align: left;
    width: 75%;
}

.team {
    background-color: var(--background-color);
}

.team-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px 38px;
    background-color: var(--feature-color);
    padding: 12px 18px;
}

    .tab {
        padding: 0;
        margin: 0;
    }

    .tab:hover {
        color: aqua;
        cursor: pointer;
    }

.team__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
    height: 100%;
} 

    .team__item {
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        padding: 12px;
        width: 60%;
    }



        .team__title-name {
            padding: 6px;
        }

        .team__about-text {
            padding: 6px;
            color: var(--text-color);
        }