:root {
    --background-color: #FAF2E6;
    --text-color: #313640;
    --feature-color: #7388A0;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}
p {
    margin: 0;
}

.header {
    
}

.nav__sidebar {
    background-color: #313640;
    height: 100%;
    /* width: 150px; Fixed width */
    overflow-y: auto; /* Allow scrolling for longer content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    background-color: var(--color-background);
    height: 100%;
    margin: 0 0 0 160px;
    /* width: 100%; */
}

.footer {
    
}




.team {
    background-color: var(--background-color);
    display: flex;
}

.team-tabs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* gap: 18px; */
}

    .tab {
        
        /* text-align: center; */
        color: white;
        font-size: 1rem;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
    .tab,
    .tab.active {
        margin: 0; /* Ensure no added margins */
        font-size: 1rem; /* Keep font size consistent */
}   

    .tab:hover {
        color: aqua;
        cursor: pointer;
        transition: color 0.3s ease, color 0.3s ease;
    }

.img {
    width: 100px;
    height: 100px;
    
}

.team__container {
    display: flex;
    flex-direction: column;
    height: 100%;
} 

    .team__item {
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        padding: 12px;
        width: 100%;
    }



        .team__title-name {
            padding: 6px;
            color: var(--feature-color);
            font-size: 2rem;
            margin: 0;
            padding: 12px;
        }

        .team__about-text {
            padding: 6px;
            width: 100%;
            color: var(--text-color);
        }