html, body {
    background-color: #FAF4E8;
}

.header-logotype {
    left: 1vw;
  }

.sidebar {
    width: 15vw;
    background-color: #DAA46D;
    padding-top: 6rem;
    z-index: 8;

}



footer {
    background-color: #9D6034;
  }

.main-container {
    min-height: calc(100dvh - (383px + 96px));
}

.team-tabs {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

    .tab {
        margin: 0;
        font-size: 1rem;
        text-align: center;
        color: white;
        font-size: 1rem;
        display: block;
        padding: 12px;
}   
    .tab.active {
        font-size: 1.5rem;
    }

    .tab:hover {
        font-size: 1.5rem;
        cursor: pointer;
        transition: font-size 0.4s ease, font-size 0.3s ease;
    }

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    margin: 2rem 4rem 2rem 2rem;
    column-gap: 2rem;
}

.img-info__content {
    grid-column: 1;
}

    .image {
        grid-row: 1 / span 2;
        position: relative;
        max-width: 100%; 
        margin: 0 auto;
        z-index: 0; 
        overflow: hidden;
    }
    .image__child, .overlay-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .overlay-image {
        position: absolute;
        animation-name: overlay;
        animation-duration: 0.1s;
        animation-iteration-count: infinite;
      }
      
      @keyframes overlay {
         0% {opacity: 10%}
         50% {opacity: 7%;}
        100% {opacity: 11%;}
      }

    .info {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

    .info__child {
        display: flex;
        flex-direction: column;
        width: 1fr;
        align-items: center;
        margin: 0;
     }

     .info__input, .info__sort {
        margin: 0;
     }

     .info__sort {
        font-weight: 300;
        width: min-content;
        text-align: center;
        font-size: 0.75rem;
     }

     .info__input {
        font-weight: 500;
        font-size: 1.25rem;
        color: #262223;
        
     }

.text__content {
    grid-column: 2;
}

    .title {
        height: min-content;
        gap: 1rem;
    }
    .title__name {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        font-size: 3rem;
        font-weight: 600;
    }
    .title__species-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: start;
        margin: 0.5rem 0 0.5rem 0;
    }
    .species__text {
        margin: 0;
        font-style: italic;
        font-weight: 100;
        font-size: 0.75rem;
        color: #978F82;
    }
    .species__button {
        background-color: #34959e57;
        border-radius: 12px;
        border: none;
        color: #34959E;
        height: min-content;
        padding: 3px 18px;
        font-weight: 600;
    }

    .paragraph {
       grid-row: 2 / span 3; 
       margin-right: 4rem;
    }

@media (max-width: 767px) {

    .team {
        display: flex;
        flex-direction: column; 
        justify-items: center;
        margin: 1rem;
        gap: 1rem;
    }

    .img-info__content, .text__content {
        flex: 100%;
    }

        .title {
            order: 0;
        }

        .image {
            order: 1;
        }

        .info {
            order: 2;
        }

        .paragraph {
            order: 3;
            padding: 2rem;
        }

    .title__species-container {
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
        .title__name {
            font-size: 2rem;
        }

        .paragraph {
            margin: 0;
        }

}
@media (max-width: 1024px) {
.sidebar {
    width: 250px;
}
}