:root {
  --color-blue: #7388a0;
  --color-darkblue: #313640;
  --color-lightbeige: #faf2e6;
  --color-darkbeige: #daa46d;
  --color-brown: #9c4f20;
  --color-darkgreen: #766621;
  --color-text: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /*To get this font on each page you need to insert this into head of every html page.
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    */
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
}

.header {
    position: fixed;
    top: 0;
    background-color: var(--color-lightbeige);
    height: 6rem;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 1px 0px var(--color-lightbeige);
    -moz-box-shadow: 0px 1px 1px 0px var(--color-lightbeige);
    box-shadow: 0px 1px 5px 0px var(--color-lightbeige)
}

.header-logotype {
  position: absolute;
  height: 100%;
  left: 8vw;
}

.header a img {
  position: absolute;
  top: 0;
}

.header-nav-bar {
  display: flex;
  justify-content: space-between;
  width: 30%;
  min-width: 400px;
  /*This min-width is to meak sure that the nav-bar anchor tags dont crash into eachother.*/
  font-weight: bold;
}

.header-nav-bar a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-darkblue);
  font-weight: bold;
  padding: 0.3rem 0;
  transition: color 0.3s ease;
}

.header-nav-bar a:hover {
  color: var(--color-darkbeige);
}

.header-nav-bar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-darkbeige);
  transition: width 0.3s ease;
}

.header-nav-bar a:hover::after,
.header-nav-bar a.selected::after {
  width: 100%;
}

.header-searchbar {
  width: 25%;
  display: flex;
  position: absolute;
  gap: 1rem;
  right: 5%;
}

.header-searchbar button {
  width: 30%;
  padding: 0.3rem;
  min-width: 100px;
  background-color: var(--color-darkgreen);
  color: var(--color-text);
  border: none;
  cursor: pointer;
}

.header-searchbar button:hover {
  background-color: var(--color-darkgreen);
  background-color: #a18c2f;
  /*
    I temporarily added a second bg to change color when a person is hovering the button.
    */
}

.header-searchbar input {
  padding: 0.5rem;
  color: var(--color-text);
  border: 1px solid var(--color-darkblue);
}

.header-searchbar input::placeholder {
  color: var(--color-darkblue);
}

/* Home page: welcome & animal card */

/* home page */
.main-container {
  heigh: 90dvh;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.welcome-card-container,
.display-info-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.welcome-card-container,
.animal-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil,
.welcome-card-background,
.welcome-card-text-container,
.welcome-card-gradient-pawprints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil {
  background: rgb(218, 164, 109);
  background: linear-gradient(
    90deg,
    rgba(218, 164, 109, 0) 41%,
    rgba(218, 164, 109, 0.6741290266106443) 53%,
    rgba(218, 164, 109, 0.8702074579831933) 67%,
    rgba(218, 164, 109, 1) 100%
  );

  /* background: rgb(45, 64, 16);
      background: linear-gradient(
        90deg,
        rgba(45, 64, 16, 0) 33%,
        rgba(45, 64, 16, 0.4192270658263305) 54%,
        rgba(45, 64, 16, 0.5340730042016807) 58%,
        rgba(45, 64, 16, 0.7161458333333333) 63%,
        rgba(45, 64, 16, 0.8534007352941176) 70%,
        rgba(45, 64, 16, 1) 91%
      ); */

  /* background: rgb(89, 43, 17);
      background: linear-gradient(
        90deg,
        rgba(89, 43, 17, 0.17833070728291311) 42%,
        rgba(89, 43, 17, 0.5844931722689075) 52%,
        rgba(89, 43, 17, 0.836594012605042) 64%,
        rgba(89, 43, 17, 0.9486388305322129) 78%,
        rgba(89, 43, 17, 1) 85%
      ); */

  /* background: rgb(107, 143, 61);
      background: linear-gradient(
        90deg,
        rgba(107, 143, 61, 0.03267244397759106) 42%,
        rgba(107, 143, 61, 0.6181066176470589) 54%,
        rgba(107, 143, 61, 0.8702074579831933) 62%,
        rgba(107, 143, 61, 1) 78%,
        rgba(107, 143, 61, 1) 85%
      ); */
}

.welcome-card-background,
.welcome-card-gradient-pawprints,
.animal-card-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-card-background {
  background-image: url("../assets/homepage/giraffe.jpg");
}

.welcome-card-gradient-pawprints {
  background-image: url("../assets/homepage/veilpaw.svg");
}

.welcome-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.welcome-card-text-wrap {
  max-width: 25rem;
  max-height: 50rem;
  line-height: 1.5rem;
  padding: 1.5rem;
}

.welcome-card-text-header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
}

.welcome-card-text-subheader {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Caveat", sans-serif;
  color: var(--color-darkblue);
  line-height: 2rem;
}

.welcome-card-text-description {
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
  font-size: 1.2rem;
}

.button-explore {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-darkgreen);
  padding: 8px;
  min-width: 8rem;
  color: var(--color-lightbeige);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 10;
}

.button-explore:hover {
  background-color: var(--color-darkbeige);
  color: #313640;
}

.animal-card-container {
  overflow: visible;
  position: relative;
}

.animal-card {
  background-color: blue;
  height: 100%;
  position: absolute;
  display: none;
}

.animal-card.active {
  display: block;
  z-index: 20;
}

/* Footer */
footer {
  background-color: var(--color-lightbeige);
}

.footer-container {
  width: 100%;
  padding: 70px 0px 20px;
}

.brand-logo {
  width: 12rem;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  text-decoration: none;
  padding: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 1.5rem;
  color: var(--color-darkblue);
  opacity: 0.8;
}

.social-icons a:hover {
  background-color: var(--color-darkblue);
  transition: 0.5;
}

.social-icons a:hover i {
  color: white;
  transition: 0.5;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav ul,
li {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-nav ul li a {
  color: var(--color-darkblue);
  margin: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0.7;
}

.footer-nav ul li a:hover {
  opacity: 1;
}

ul {
  padding-inline-start: 0px;
}

.footer-bottom {
  background-color: var(--color-darkbeige);
  padding: 0.75rem;
  text-align: center;
}



/* Responsivness */
@media screen and (max-width: 555px) {
  .footer-nav ul {
    flex-direction: column;
  }

  .footer-nav ul li {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .brand-logo {
    margin-left: 0.25rem;
  }
}
