:root {
  --color-blue: #7388a0;
  --color-darkblue: #313640;
  --color-lightbeige: #faf2e6;
  --color-midbeige: #f5d5ac;
  --color-darkbeige: #daa46d;
  --color-brown: #9c4f20;
  --color-darkgreen: #766621;
  --color-text: white;
}

/* Header z index */
.header, .phone-header {
  z-index: 2;
}

/* Sidebar customized */
.sidebar-container {
  z-index: 1;
}

.sidebar-menu {
  min-height: 85vh;
}

.sidebar-menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* when hovering, no bg color */
.sidebar-menu ul li a:hover,
.sidebar-menu ul li a.selected {
  background-color: unset;
}

/* if approve, implement on global.css */
/* .sidebar-toggle-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-darkgreen);
  color: var(--color-text);
  width: 30px; 
  height: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 1100;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} */

.menu-list {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
}

.menu-list:hover {
  cursor: pointer;
  background-image: url(../assets/homepage/icon-paws.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

.menu-list.clicked {
  background-image: url(../assets/homepage/icon-paws.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

/* Home page */
.welcome-card-container,
.display-info-container {
  height: 100dvh;
  width: 100%;
  position: relative;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

.welcome-card-container,
.animal-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil,
.welcome-card-background,
.welcome-card-text-container,
.welcome-card-gradient-pawprints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil {
  background: rgb(218, 164, 109);
  background: linear-gradient(
    90deg,
    rgba(218, 164, 109, 0) 41%,
    rgba(218, 164, 109, 0.6741290266106443) 53%,
    rgba(218, 164, 109, 0.8702074579831933) 67%,
    rgba(218, 164, 109, 1) 100%
  );
}

.welcome-card-background,
.welcome-card-gradient-pawprints,
.animal-card-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-card-background {
  background-image: url("../assets/homepage/giraffe.jpg");
}

.welcome-card-gradient-pawprints {
  background-image: url("../assets/homepage/veilpaw.svg");
}

.welcome-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.welcome-card-text-wrap {
  max-width: 40rem;
  max-height: 50rem;
  line-height: 1.5rem;
  padding: 2rem;
}

.welcome-card-text-header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
}

.welcome-card-text-subheader {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Caveat", sans-serif;
  color: var(--color-darkblue);
  line-height: 2.5rem;
}

.welcome-card-text-description {
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Animal card */
.animal-card-container {
  overflow: visible;
  position: relative;
  min-height: 90vh;
  width: 100%;
}

.animal-card {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
  padding: 3rem;
}

.animal-card.active {
  display: block;
  z-index: 2;
}

.animal-card-inner {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  background-color: white;
  padding: 3rem;
}

.animal-name {
  text-transform: uppercase;
  font-weight: 800;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
  color: var(--color-darkbeige);
  text-align: center;
}

.animal-group-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.animal-group {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 36px;
  border: dashed 3px var(--color-midbeige);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.animal-group:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.animal-group a {
  text-decoration: none;
}

.animal-food {
  font-size: 2rem;
}

.animal-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.animal-image {
  width: 15vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.animal-food-wrapper,
.animal-description {
  font-size: 1.5rem;
}

.animal-food-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.food-pill {
  border-radius: 24px;
  padding: 0.3rem 1.5rem;
}

.group-mammal,
.group-mammal .food-pill,
.group-mammal .animal-group {
  background-color: var(--color-brown);
}

.group-mammal .food-pill,
.group-bird .food-pill,
.group-mammal .animal-group,
.group-bird .animal-group {
  color: white;
}

.group-bird,
.group-bird .food-pill,
.group-bird .animal-group {
  background-color: #7387a0;
}

.group-reptile,
.group-reptile .food-pill,
.group-reptile .animal-group {
  background-color: #d9a56c;
}

.group-mammal .animal-name {
  color: #766621;
}

.group-bird .animal-name {
  color: #7387a0;
}

.group-reptile .animal-name {
  color: #d9a56c;
}

/* Responsivness */
@media screen and (max-width: 768px) {
  .menu-list:hover,
  .menu-list.clicked {
    background-size: 30%;
  }

  .welcome-card-text-container {
    align-items: center;
    padding: 2rem;
  }

  .welcome-card-text-wrap {
    text-align: center;
    background-color: var(--color-darkbeige);
    border-radius: 36px;
  }

  .welcome-card-gradient-veil {
    background: none;
  }

  .welcome-card-text-description {
    color: var(--color-lightbeige);
  }

  .animal-name {
    font-size: 1.5rem;
  }

  .animal-card-inner {
    min-height: 80%;
  }

  .animal-card,
  .animal-card-inner {
    padding: 2rem;
  }

  .animal-image {
    width: 45vw;
  }

  .animal-food-wrapper,
  .animal-description {
    font-size: 1rem;
  }

  .animal-group{
    font-size: 1rem;
  }

  .animal-group-wrapper {
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .animal-card-inner {
    min-height: 80%;
  }

  .animal-card,
  .animal-card-inner {
    padding: 1.5rem;
  }

  .animal-image {
    width: 35vw;
  }

  .animal-food-wrapper,
  .animal-description {
    font-size: 1.5rem;
  }
}
