:root {
  --color-blue: #7388a0;
  --color-darkblue: #313640;
  --color-lightbeige: #faf2e6;
  --color-midbeige: #f5d5ac;
  --color-darkbeige: #daa46d;
  --color-brown: #9c4f20;
  --color-darkgreen: #766621;
  --color-text: white;
}

/* Sidebar customized */
.sidebar-menu{
  min-height: 90vh;
}

.sidebar-menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu ul li a:hover,
.sidebar-menu ul li a.selected {
  background-color: unset;
}

.menu-list{
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
}

.menu-list:hover {
  cursor: pointer;
  background-image: url(../assets/homepage/icon-paws.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

.menu-list.clicked {  
  background-image: url(../assets/homepage/icon-paws.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
}

/* Home page */
.welcome-card-container,
.display-info-container {
  height: 100dvh;
  width: 100%;
  position: relative;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.welcome-card-container,
.animal-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil,
.welcome-card-background,
.welcome-card-text-container,
.welcome-card-gradient-pawprints {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-card-gradient-veil {
  background: rgb(218, 164, 109);
  background: linear-gradient(
    90deg,
    rgba(218, 164, 109, 0) 41%,
    rgba(218, 164, 109, 0.6741290266106443) 53%,
    rgba(218, 164, 109, 0.8702074579831933) 67%,
    rgba(218, 164, 109, 1) 100%
  );
}

.welcome-card-background,
.welcome-card-gradient-pawprints,
.animal-card-container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-card-background {
  background-image: url("../assets/homepage/giraffe.jpg");
}

.welcome-card-gradient-pawprints {
  background-image: url("../assets/homepage/veilpaw.svg");
}

.welcome-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.welcome-card-text-wrap {
  max-width: 40rem;
  max-height: 50rem;
  line-height: 1.5rem;
  padding: 2rem;
}

.welcome-card-text-header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
}

.welcome-card-text-subheader {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Caveat", sans-serif;
  color: var(--color-darkblue);
  line-height: 2.5rem;
}

.welcome-card-text-description {
  font-family: "Roboto", sans-serif;
  color: var(--color-lightbeige);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Responsivness */
@media screen and (max-width: 768px) {
  .menu-list:hover, .menu-list.clicked {
    background-size: 30%;
  }

  .welcome-card-text-container {
    align-items: center;
    padding: 2rem;
  }

  .welcome-card-text-wrap {
    text-align: center;
    background-color: var(--color-darkbeige);
    border-radius: 36px;
  }

  .welcome-card-gradient-veil {
    background: none;
  }

  .welcome-card-text-description {
    color: var(--color-lightbeige);
  }

  .animal-card-inner {
    display: block;
  }

  .animal-image {
    width: 6rem;
  }

  .animal-card-inner-right {
    padding: 1.5rem;
  }

  .animal-card-inner-right,
  .animal-description {
    font-size: 0.8rem;
  }

  .animal-name {
    font-size: 1.5rem;
  }

  .animal-length,
  .animal-weight,
  .animal-food,
  .animal-lifespan,
  .animal-found,
  .animal-description {
    line-height: 1.5rem;
  }
}
